{% extends "auctions/layout.html" %}
{% block title %}
{% if catlist == 'catlist'%}
Categories
{% else %}
{{cat}}
{% endif %}
{% endblock %}
{% block body %}
    <h2>Categories</h2>
    {% if catlist == 'catlist'%}
        <div>
        {% for category in categories %}
            <a href="{% url 'categories' category.category %}" class="btn btn-primary" style='margin-bottom : 10px'>{{category.category}}</a>
        {% endfor %}
        </div>
    {% else %}
    <div class='container-fluid'>
    <div class='row justify-content-center'>
    {% for listing in listings %}
        {% if listing.id in incat %}
        {% if listing.closed == False %}
            <div class="col-4" style='display : inline-block'>
            <div class='card bg-light mb-3'>
            <h4 class="card-header"><a href="{% url 'listing' listing.id%}" class="text-dark">{{listing.name}}</a></h4>
                <div class='card-body'>
                <img src={{MEDIA_URL}}{{listing.picture}} style='height :200px ; width : auto' class='card-img-bottom img-fluid' alt='a picture of {{listing.name}}'>
                    <h5 style='margin-top : 10px'>Listing description:</h5>
                    <p class='card-text' style='height:150px'>{{listing.description}}</p>
                    <h5>Current Price:</h5>
                    <p class='card-text'>{{listing.price}} €</p>
                    <h5>Listing categories:</h5>
                    <p>
                    {% for catlink in catlinks%}
                        {%if catlink.listing_id is listing.id%}
                            {% for category in categories%}
                                {% if catlink.category_id is category.id %}
                                <a href="{% url 'categories' category.category %}" class="btn btn-primary" name='{{category.category}}'>{{category.category}}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </p>
                    <p class='card-text'><span style='font-weight : bold'>Created: </span>{{listing.date_added}}</p>
                    <p class='card-text'><span style='font-weight : bold'>By: </span>{{listing.user}}</p>
                    
                </div>
                    {% if user.is_authenticated %}
                    {% if user == listing.user %}
                    <div class="card-footer">
                        <p class='card-text'>This item was listed by you.</p>
                    </div>
                    {% else  %}
                        {%if listing.id in watchlist %}
                            <div class="card-footer">
                                <a href="{% url 'watchlist' listing.id%}" class="card-text" name='{{listing.id}}'>Remove from Watchlist</a>
                            </div>
                        {% else %}
                            <div class="card-footer">
                                <a href="{% url 'watchlist' listing.id %}" class="card-text" name='{{listing.id}}'>Add to Watchlist</a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% endif %}
            </div>   
            </div> 
        {% endif %}
        {% endif %} 
        {% empty %}
        <p><strong>No listings in the current category.</strong></p>
    {% endfor %}
    
    </div> 
    </div>  
    {% endif %}
{% endblock %}