{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <div class='container-fluid'>
    <div class='row justify-content-center'>
    {% for entry in watchlist %}
        {% if entry.user == user %}
            <div class="col-4" style='display : inline-block'>
            <div class='card bg-light mb-3'>
            <h4 class="card-header">{{entry.item.name}}</h4>
                <div class='card-body'>
                <img src={{MEDIA_URL}}{{entry.item.picture}} style='height :200px ; width : auto' class='card-img-bottom img-fluid'>
                    <h5 style='margin-top : 10px'>Listing description:</h5>
                    <p class='card-text'>{{entry.item.description}}</p>
                    <h5>Current Price:</h5>
                    <p class='card-text'>{{entry.item.price}} €</p>
                    <h5>Listing categories:</h5>
                    <p>
                    {% for catlink in catlinks%}
                        {%if catlink.listing_id is entry.item.id%}
                            {% for category in categories%}
                                {% if catlink.category_id is category.id %}
                                <a href="#" class="btn btn-primary" name='{{category.category}}'>{{category.category}}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </p>
                    <p class='card-text'><span style='font-weight : bold'>Created: </span>{{entry.item.date_added}}</p>
                    <p class='card-text'><span style='font-weight : bold'>By: </span>{{entry.user}}</p>
                    
                </div>
                <div class="card-footer">
                    <a href="{% url 'watchlist' entry.item.id %}" class="card-text" name='{{entry.item.id}}'>Remove from Watchlist</a>
                </div>
            </div>   
            </div>
        {% endif %}
    {% empty %}
    <p>There are currently no items in your watchlist.</p>  
    {% endfor %}
    </div> 
    </div> 
{% endblock %}